<div class="container">
  <div class="row adjust-states-btn">
    <button class="btn btn-primary pull-right" (click)="sortyBy($event)">
      Sort by {{ togggleUsing }}
    </button>
  </div>
  <div class="background-img">
    <div class="row" *ngIf="resultSet">
      <div
        class="col-md-4"
        *ngFor="let state of resultSet | orderBy: toggleValue:OrderByPipe"
      >
        <div class="card text-center">
          <div class="card-block">
            <h4 class="card-title">{{ state.name }}</h4>
            <p class="card-text">Capital : {{ state.capital }}</p>
            <button class="btn btn-primary" (click)="getSomeDetails(state)">
              Details of {{ state.name }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
